.single-t{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.t-btn{
    padding: 15px;
    cursor: pointer;
    background: white;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 8px;
    transition: 0.2s;
}
.t-btn:hover{
    background-color: #6d6d6d;
}
.t-btn.selected{
    color: white;
    background-color: #45b949;
    border-color: #388e38;
}
.table-full h4{
    margin-top: 0px;
    margin-bottom: 8px;
}
.table-full{
    margin-bottom: 8px;
}

@media screen and (max-width: 504px) and (min-width: 391px) {
    .single-t {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
  .t-btn {
    padding: 14px;
    font-size: 15px;
  }
  .table-full {
    padding: 10px;
  }
}

@media screen and (max-width: 390px) {
  .single-t {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }

  .t-btn {
    padding: 12px;
    font-size: 14px;
  }

  .table-full {
    padding: 10px;
  }
}
